<ion-header>

</ion-header>

<ion-content>
    <ion-grid class="intro-cnt">
        <ion-row>
            <ion-col>
                <div class="ion-text-start">
                    <h3 class="headline-mid">Which one are you?</h3>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="intro-btn fr">Trainer</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="intro-btn">Trainee</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button [routerLink]="['']">test</ion-button>

    
    

</ion-content>