<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <!-- <ion-buttons slot="start">
                <ion-back-button default-href="#"></ion-back-button>
              </ion-buttons>
            <ion-searchbar></ion-searchbar> -->
            <h1 class="main-heading">Explore</h1>

        </ion-toolbar>
    </ion-header>

    <ion-card class="cat-crd" >
        <img class="cat-img" src="../../../assets/images/football.jpg"/>
        <div class="myOverlay">
        <h1 class="main-card">Football</h1>
        <h1 class="main-card-secondary">Sessions</h1>
        </div>
    </ion-card>

    <ion-card class="content-card">
        <ion-card-header>
          <ion-card-title>Top events this week</ion-card-title>
          <ion-card-subtitle>Favorites</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="padding: 0px;">
              <ion-grid>
                <ion-row>
                    <ion-col size="3" >
                        <ion-card class="item-img">
                  
                        </ion-card>
                      </ion-col>
                  <ion-col size="6" >
                    <ion-label>
                        <h3>Friendly Match</h3>
                        <p>Friendly team searching for new players</p>
                      </ion-label>
                  </ion-col>
                  <ion-col size="3" >
                    <ion-button class="item-btn">Join</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3" >
                        <ion-card class="item-img">
                  
                        </ion-card>
                      </ion-col>
                  <ion-col size="6" >
                    <ion-label>
                        <h3>Friendly Match</h3>
                        <p>Friendly team searching for new players</p>
                      </ion-label>
                  </ion-col>
                  <ion-col size="3" >
                    <ion-button class="item-btn">Join</ion-button>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="3" >
                        <ion-card class="item-img">
                  
                        </ion-card>
                      </ion-col>
                  <ion-col size="6" >
                    <ion-label>
                        <h3>Friendly Match</h3>
                        <p>Friendly team searching for new players</p>
                      </ion-label>
                  </ion-col>
                  <ion-col size="3" >
                    <ion-button class="item-btn">Join</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
    
        </ion-card-content>
      </ion-card>
      <ion-card class="cat-crd">
        <img class="cat-img" src="../../../assets/images/basketball.jpg"/>
        <div class="myOverlay">
           <div class="main-card">Football</div>
           <div class="main-card-secondary">Sessions</div>
        </div>
      </ion-card>


      <ion-card class="cat-crd" >
        <img class="cat-img" src="../../../assets/images/basketball.jpg"/>
        <div class="myOverlay">
        <h1 class="main-card">Basketball</h1>
        <h1 class="main-card-secondary">Sessions</h1>
        </div>
    </ion-card>
    

    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
        <ion-slide *ngFor="let card of [0,1,2,3,4,5,6]" class="small-cc">
            <ion-card class="roundx">
                <img alt="Silhouette of mountains" src="https://goldsgym.in/uploads/blog/compress-strong-man-training-gym-min.jpg" />
                <ion-card-header>
                    <ion-card-title>Card 1</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Here's a small text
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>