<ion-header>

</ion-header>

<ion-content>
    <ion-grid class="intro-cnt">
        <ion-row>
            <ion-img class="img-logo" src="../../../../assets/images/logo-02.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button class="intro-btn fr" [routerLink]="['./login']">Log In</ion-button>
            </ion-col>
            <ion-col>
                <ion-button class="intro-btn" [routerLink]="['./register']">Sign Up</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>