.small-logo {
    width: 40%;
}

.headline-mid {
    margin: 8%;
    margin-right: 0;
text-align: justify;
}

.mid-row {
    margin-top: 40%;
    justify-content: center;
}

.row-content{
    gap: 3%;
    display: flex;
    flex-direction: column;
    height: 50%;
}

.login-button-area{
    justify-content: center;
}

.login-button-box{
    display: contents;
}

.mt-ct {
padding: 8%;
}

ion-button {
    width: 50% 
};