<ion-header>

</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
        <div class="ion-text-start">
            <h3 class="headline-left">Tell us more about <br>yourself</h3>
        </div>
    </ion-col>
</ion-row>

<ion-grid class="main-pad">
  <ion-row>
    <ion-col>
        <ion-label position="stacked" class="flex-label">Name</ion-label>
        <ion-input placeholder="Custom input" class="custom"></ion-input>

    </ion-col>
    <ion-col>
        <ion-label position="stacked" class="flex-label">Last Name</ion-label>
        <ion-input placeholder="Custom input" class="custom"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-label position="stacked" class="flex-label">Country</ion-label>
        <ion-input placeholder="Custom input" class="custom"></ion-input>
    </ion-col>
    <ion-col>
        <ion-label position="stacked" class="flex-label">City</ion-label>
        <ion-input placeholder="Custom input" class="custom"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
        <ion-button class="intro-btn" [routerLink]="['../step1']">Sign Up</ion-button>
    </ion-col>
</ion-row>
</ion-grid>

</ion-content>
